.search-form {
  padding: 20px;
  text-align: center;
  background-color: azure;
}
.search {
  background-color: antiquewhite;
  color: black;
  cursor: pointer;
}

.load-more {
  background-color: antiquewhite;
  color: black;
  margin-left: 40px;
  cursor: pointer;
}

.load-more.is-hidden {
  display: none;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  padding-left: 30px;
  margin-left: -30px;
}
.photo-card {
  width: calc(100% / 5 - 30px);
  margin-left: 30px;
}
